@using CarFuel.Model
@model Car
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Make (@Model.Make)</h2>

<div class="well well-sm">
    Average consumption is <strong>@(Model.AverageKmL?.ToString("n2"))</strong> km/L
</div>